@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@layer base { 
    body {
        @apply font-[Poppins];
    }    
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}
:root {
    /*====== Color ======*/
    --hue-color: 231;
    --hue-second-color: 182;
    --white-color: 0;
    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 100%, 99%);
    --second-color: hsl(var(--hue-color), 19%, 93%);
    --app-color: hsl(var(--hue-color), 52%, 38%);
    --app-second-color: hsl(var(--hue-second-color), 100%, 55%);
    --app-third-color: hsl(var(--hue-second-color), 93%, 55%);
    --app-fourth-color: hsl(var(--hue-second-color), 76%, 88%);
    --app-fifth-color: hsl(var(--hue-second-color), 76%, 88%);
    --input-color: hsl(var(--hue-color), 65%, 64%);
    --text-white-color: hsl(var(--white-color), 100%, 100%);
    --text-black-color: hsl(var(--white-color), 0%, 0%);

    --red-color: hsl(var(--white-color), 90%, 55%);
}

#root {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

#root {
    background-image: linear-gradient(
        to right,
        var(--app-fifth-color),
        var(--app-fifth-color)
    );
    color: var(--text-white-color);
}

.App {  
    width: 600px;
    min-height: 605px;
    margin: auto;
    background-image: linear-gradient(
            to top,
            var(--app-color),
            var(--app-second-color)
        ); 
     border: 1px solid var(--app-second-color); 
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-text {
    text-align: center;
    font-weight: 10;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.react-tabs__tab-list {
    background-color: var(--app-fifth-color);
    font-weight: 600;   
    max-height: 40px;
    display: flex;   
    padding-top: 5px;
    padding-left: 5px;
    margin: 0 auto;
    border: none;
}

.react-tabs__tab--selected {
    background-image: linear-gradient(
        to top,
        hsl(184, 93%, 54%),
        var(--app-second-color)     
    ) !important; 
    border-top-right-radius: 12px; 
    border-top-left-radius: 12px;
    color: var(--text-black-color);  
}

.react-tabs__tab {
    background-color: var(--app-fifth-color);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: var(--text-black-color);
    border: 1px solid var(--app-second-color) !important;   
    padding: 5px !important;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.react-tabs__tab:focus { outline: none; }

.header-title {
    margin-left: 10px;
    text-align: left;
    font-size: 14px;
}

.header-x-button {
    width: 25px;
    height: 25px;
    text-align: center;
}

.header-x-button:hover {
    background-color:var(--app-fifth-color);
    border-radius: 50%;    
}

.header-start {
    background-color: var(--app-fifth-color);
    width: 1%;    
    border-bottom-right-radius: 12px; 
    border-top-left-radius: 20px; 
}

.header-close {
    background-color: var(--app-fifth-color);
    width: 100%;    
    border-top-right-radius: 20px; 
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    color: var(--text-black-color);
    border-bottom-left-radius: 12px; 
}

.square, .square-exit {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.square:hover {
    background-color: var(--app-third-color) 
}

.square-exit:hover {
    background-color:var(--red-color);
}

.navbar-buttons {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    color: var(--text-black-color);
}

.address-bar {
    width: 69%;    
    display: flex;
    align-items: center;
}

.address-bar-input {
    width: 95%;
    border-radius: 25px;
    background-color: var(--second-color);
    padding: 5px;
    margin: 5px;
    padding-left: 10px;
    color: var(--text-black-color);
}

.bookmark-button {
    position: absolute ;
    right: 30px;
    color: hsl(212, 100%, 50%);
}

.main-content {
    padding-bottom: 20px;
}
.break-line {
    border-top: 2px dashed var(--text-black-color);
    margin: 0 20px;    
}

.footer-social-bar {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    padding: 20px;
}

.left-content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 49%;
    padding-left: 20px;
}
.right-content-div {
    width: 49%;
    padding-right: 10px;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    text-align: left;
}

.info-div, .buttons-div, .image-div {
    text-align: center;
    padding-top: 10px;   
}

h1 {
    font-size: 30px;
    font-weight: 800;
}

.gender-age, .language-text {
    font-weight: 500;
}

.break-line-side {
    border-top: 2px dashed var(--text-black-color);
    margin-top: 10px;
}

.side-button {
    background-image: linear-gradient(
            to top right,
            var(--app-color),
            var(--app-second-color)
        );  
    border-radius: 25px;
    width: 100%;
    min-height: 40px;
    text-align: left;
    padding-left: 20px; 
    padding-right: 20px; 
    transition: 0.5s;
}

.side-button:hover {
    background-image: none; 
    background-color: var(--app-color); 
}
.about {
    margin-bottom: 10px;
}

.img-right {
    margin: 0 auto;
    margin-bottom: 20px;
}

.smithereen-img {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

.main-content {
    min-height: 433px;
}